/* DETAIL*/
.aside-daftar{
    background-color: #FDF5E8;
    padding-left: 60px
}

.container-daftar{
    margin: 30px 25px;
}

.daftar{
    font-weight: 600;
    margin: 5px 0px 35px 0px;
}

.list-span{
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.list-span.active{
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px rgb(142, 141, 141);
}

@media screen and (min-width: 767px) and (max-width: 1024px){
    iframe{
        width: 350px;
        height: 175px;
    }
}

@media screen and (min-width: 320px) and (max-width: 766px){
    iframe{
        width: 300px;
        height: 150px;
    }
}